.cart {
    padding: 1rem 0.5rem;
    background-color: #fff;
    color: #142230;
    border-radius: 0.25rem;
    padding-top: 100px;
}

.cart h1 {
    color: #465453;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1.2rem;
}
.cart .orderBtn {
    display: block;
    cursor: pointer;
    padding: 0.25rem 1rem;
    border-radius: 0.15rem;
    border: 0.15rem solid #000;
    font-weight: 600;
    background-color: transparent;
    margin: 1rem auto 0 auto
}

.cart .cartTotal {
    display: flex;
    color: #000;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 200;
}