@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,400&display=swap');

.cartItems {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.cartItems>* {
    justify-self: center;
    align-self: center;
}

.cartItems .itemInfo {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem
}

.cartItems .itemInfo h4 {
    font-weight: 400;
}

.cartItems .itemInfo img {
    width: 100px;
    height: 100px;
}

.cartItems .price {
    font-style: italic;
}

.cartItems .quantity {
    padding: 0.5rem;
}

.cartItems .quantity input[type='number'] {
    outline: none;
    width: 50px;
    border: 1.5px solid gray;
    padding: 0.5rem;
    border-radius: 0.35rem;
}

.cartItems .quantity input[type='number']:focus {
    border: 1.5px solid #0f7ead;
}

.cartItems .btnDeleteItem,
.cartItems .btnIncrementItem,
.cartItems .btnDecrementItem {

    cursor: pointer;
    outline: none;
    border: 0;
    height: 30px;
    width: 30px;
    border-radius: 10rem;
    transition: all 0.5s ease-in;
}

.cartItems .btnDeleteItem:hover {
    background-color: #b9133579;
    color: #fff;
}

.cartItems .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.btnIncrementItem:hover {
    background-color: #0f7ead;
    color: #fff;
}

.btnDecrementItem:hover {
    background-color: #000;
    color: #fff;
}