.productsContainer {
    padding: 1rem 0 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.productsContainer>* {
    align-self: center;
    justify-self: center;
}