.addToCartBtn {
    font-size: 1.15rem;
    font-weight: 600;
    border: 0;
    background-color: #1485b1;
    padding: 10px 20px;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.addToCartBtn i {
    margin-left: 10px;
    font-size: 0.95rem;
}

.addToCartBtn:hover {
    background-color: #000;
}

.addToCartBtn:active {
    background-color: grey;
}

.disabled,
.disabled:hover {
    background-color: rgb(151, 143, 143);
    color: rgb(196, 184, 184);
    cursor: no-drop;
}

img {
    border-radius: 0.5rem;
    box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.656);
    max-width: 100%;
    transition: all 0.2s ease-in;
}

img:hover {
    transform: scale(1.05);
}

.flexcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

h1,
h3 {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}

h3 {
    font-style: italic;
    margin-bottom: 1.25rem;
}