.cartButton {
    font-size: 1.25rem;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    color: #43b2de;
    background-color: transparent;
    border: 0.15rem solid #43b2de;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.cartButton:hover,
.cartButton:active {
    background-color: #43b2de;
    color: #fff;
}

.cartBadge {
    position: absolute;
    right: -10px;
    top: -5px;
    background-color: grey;
    color: #fff;
    box-shadow: 0px 2px 5px #ffffff63;
    font-size: 0.85rem;
    width: 20px;
    height: 20px;
    padding: 0.2rem;
    border-radius: 10rem;

}