*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}
.app{
  color: #0d1e2e;
}
ul {
  list-style: none;
}

a {
  color: rgb(255, 255, 255);
}